:root {
  --primary-color: white; /* white */
  --secondary-color: lavender;
  --container-color: #0277bd; /* blue */
  --text-color: black;
  --font-size: 16px;
}

body {
  background-color: var(--secondary-color);
  font-family: 'Lato', sans-serif;
  font-size: var(--font-size);
  line-height: 1.6;
  overflow-x: hidden;
}

.main-style {
  background-color: var(--secondary-color);
  position: relative;
  bottom: 0;
  padding: 1rem;
  max-width: 100%;
  height: auto;
}

.container {
  background-color: var(--container-color);
  min-width: 100%;
  height: 60px;
}

.container1 {
  background-color: var(--primary-color);
  height: 20px;
  min-width: 100%;
}

/* ---------------------------navigation-bar--------------------------------- */
.page-header {
  display: flex;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.page-header_logo {
  flex: 0 1 200px;
  width: 50px;
  height: 50px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
  margin-right: 80px;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* --------------style-------------- */
h1 {
  font-size: 30px;
  color: var(--primary-color);
  font-style: italic;
  position: relative;
  left: 80px;
}

a {
  color: var(--container-color);
  text-decoration: none;
}

a:visited {
  color: var(--container-color);
}

a:hover,
a:focus {
  text-decoration: underline;
  font-weight: lighter;
}

a:active {
  font-weight: lighter;
  text-decoration: underline;
}

a.navigation-list__item--active {
  text-decoration: underline;
}

button,
.button {
  border: none;
  font-family: inherit;
  background-color: var(--container-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  border-color: var(--primary-color);
  transition-duration: 0.2s;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.7;
  font-size: var(--font-size);
  background-color: var(--primary-color);
  color: var(--container-color);
}

/* --------footer--------- */
.page-footer {
  height: 100%;
  border-top: 2px solid var(--container-color);
  flex-direction: column;
  display: flex;
  color: white;
  text-align: center;
  background-color: var(--container-color);
  bottom: 0;
  width: 100%;
}

.footer-logo {
  width: 40px;
  height: auto;
  margin: 5px;
}

.footer-logo:hover {
  transform: scale(1.3);
}

/* ----------------------indexpage------------- */

.imageindex {
  width: 100%;
  height: 400px;
}

.index-table {
  text-align: center;
  width: 100%;
  padding: 40px;
}

/* ----------------------about--------------- */
.about {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 80px auto;
}

.profile__portrait {
  float: left;
  width: 35%;
  max-width: 320px;
  height: auto;
  margin-right: 30px;
  border-radius: 50%;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

* {
  box-sizing: border-box;
}

.about-table {
  margin: 50px auto;
  float: left;
  border-collapse: collapse;
  width: 100%;
}

.td-table-first,
.td-table-second {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid blue;
}

.td-table-first {
  font-weight: bold;
}

/* ---------------------work----------------- */

@media all and (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 700px) and (max-width: 1700px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media all and (max-width: 1700px) {
  .grid {
    display: grid;
    grid-gap: 10px;
  }

  .grid__item {
    grid-column: auto / auto;
    grid-row: auto / auto;
    border: 2px solid blue;
    background-color: white;
  }
}

a.work-link {
  color: var(--text-color);
}

.work-section {
  width: 80%;
  margin: 0 auto;
}

/* --------------------contact--------------- */

.message-section {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

#contact-Email,
#contact-Tel {
  width: 100%;
  height: 40px;
}

#contact-Message {
  width: 100%;
}
